<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.orangekraft.warzguia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warzguia">
        <activity android:name=".descripcion.cat3.descc3l5"></activity>
        <activity android:name=".descripcion.cat3.descc3l4" />
        <activity android:name=".descripcion.cat3.descc3l3" />
        <activity android:name=".descripcion.cat3.descc3l2" />
        <activity android:name=".descripcion.cat3.descc3l1" />
        <activity android:name=".descripcion.cat3.descc3l0" />
        <activity android:name=".descripcion.cat2.descc2l8" />
        <activity android:name=".descripcion.cat2.descc2l7" />
        <activity android:name=".descripcion.cat2.descc2l6" />
        <activity android:name=".descripcion.cat2.descc2l5" />
        <activity android:name=".descripcion.cat2.descc2l4" />
        <activity android:name=".descripcion.cat2.descc2l3" />
        <activity android:name=".descripcion.cat2.descc2l2" />
        <activity android:name=".descripcion.cat2.descc2l1" />
        <activity android:name=".descripcion.cat2.descc2l0" />
        <activity android:name=".descripcion.cat1.desc13" />
        <activity android:name=".descripcion.cat1.desc12" />
        <activity android:name=".descripcion.cat1.desc11" />
        <activity android:name=".descripcion.cat1.desc10" />
        <activity android:name=".descripcion.cat1.desc9" />
        <activity android:name=".descripcion.cat1.desc8" />
        <activity android:name=".descripcion.cat1.desc7" />
        <activity android:name=".descripcion.cat1.desc6" />
        <activity android:name=".descripcion.cat1.desc5" />
        <activity android:name=".descripcion.cat1.desc4" />
        <activity android:name=".descripcion.cat1.desc3" />
        <activity android:name=".descripcion.cat1.desc2" />
        <activity android:name=".ui.escopeta" />
        <activity android:name=".descripcion.cat1.desc1" />
        <activity android:name=".ui.FusilAsalto" />
        <activity android:name=".ui.SubFusil" />
        <activity android:name=".ui.FusilPrecision" />
        <activity android:name=".ui.FusilTactico" />
        <activity android:name=".ui.AmetralladoraLigera" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6141328272992308~1480889473" />
    </application>

</manifest>